<% content_for :extracss do %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
<% end %>

<div class='nested-fields'>
  <%= f.input :id, required: true, :as => :hidden, :disabled => true %>

  <fieldset class="apartados">
    <legend> Buscar especie: </legend>

    <%= f.input :IdCAT, input_html: { class: 'campoBusquedaTaxon'} %>
    <p id="indicacionAgregarTaxo" style="display: none"> ¿No se encuentra en la lista? Clic <a onclick="muestraFiltroTaxo()">aquí</a> para agregar manualmente </p>
    <div id="filtroTaxo" style="display: none"; >
      <hr class="espacio_ficha">
      <%= f.input :reino, :collection => Fichas::Taxon::REINO, input_html: { class: 'form-control selectpicker campoBusqueda_Taxon', 'title': t('general.seleccionar_opcion'), 'onchange': 'cargaOpciones(this, "divisionphylum");' } %>
      <%= f.input :divisionphylum, :collection => [], input_html: { class: 'form-control selectpicker campoBusqueda_Taxon', 'title': t('general.seleccionar_opcion'), 'onchange': 'cargaOpciones(this, "clase");', 'data-live-search': 'true', } %>
      <%= f.input :clase, :collection => [], input_html: { class: 'form-control selectpicker campoBusqueda_Taxon', 'title': t('general.seleccionar_opcion') , 'onchange': 'cargaOpciones(this, "orden");', 'data-live-search': 'true', } %>
      <%= f.input :orden, :collection => [], input_html: { class: 'form-control selectpicker campoBusqueda_Taxon', 'title': t('general.seleccionar_opcion'), 'onchange': 'cargaOpciones(this, "familia");', 'data-live-search': 'true' } %>
      <%= f.input :familia, :collection => [], input_html: { class: 'form-control selectpicker campoBusqueda_Taxon', 'title': t('general.seleccionar_opcion'), 'onchange': 'cargaOpciones(this, "genero");', 'data-live-search': 'true' } %>
      <%= f.input :genero, :collection => [], input_html: { class: 'form-control selectpicker campoBusqueda_Taxon', 'title': t('general.seleccionar_opcion'), 'onchange': 'cargaOpciones(this, "especie");', 'data-live-search': 'true' } %>
      <%= f.input :especie, :collection => [], input_html: { class: 'form-control selectpicker campoBusqueda_Taxon', 'title': t('general.seleccionar_opcion'), 'data-live-search': 'true' } %>
    </div>
  </fieldset>

  <h3 class="titulo_subseccion"><%= t('secciones.s_clasificacion.resumen') %></h3>
  <%= f.input :resumenEspecie %>

  <h3 class="titulo_subseccion"><%= t('secciones.s_clasificacion.descr_especie') %></h3>
  <%= f.input :descEspecie %>

  <div class="row">
    <div class="col-sm-6">
      <fieldset class="apartados">
        <legend> <%= t('secciones.s_clasificacion.macho') %> </legend>
        <h4 class="titulo_sub_subseccion"><%= t('secciones.s_clasificacion.largo') %></h4>
        <%= f.input :largoinicialmachos %>
        <%= f.input :largofinalmachos, input_html: { onblur: "checkValues(this)" } %>
        <h4 class="titulo_sub_subseccion"><%= t('secciones.s_clasificacion.edad') %></h4>
        <%= f.input :edadinicialmachos %>
        <%= f.input :edadfinalmachos, input_html: { onblur: "checkValues(this)" } %>
        <%= f.input :tiempoedadmacho, :as => :select, :collection => Fichas::Taxon::MEDIDA_LONGEVIDAD, input_html: {class: 'selectpicker form-control', 'title': t('general.seleccionar_opcion')} %>
        <h4 class="titulo_sub_subseccion"><%= t('secciones.s_clasificacion.peso') %></h4>
        <%= f.input :pesoinicialmachos %>
        <%= f.input :pesofinalmachos, input_html: { onblur: "checkValues(this)" } %>
      </fieldset>
    </div>
    <div class="col-sm-6">
      <fieldset class="apartados">
        <legend> <%= t('secciones.s_clasificacion.hembra') %> </legend>
        <h4 class="titulo_sub_subseccion"><%= t('secciones.s_clasificacion.largo') %></h4>
        <%= f.input :largoinicialhembras %>
        <%= f.input :largofinalhembras, input_html: { onblur: "checkValues(this)" } %>
        <h4 class="titulo_sub_subseccion"><%= t('secciones.s_clasificacion.edad') %></h4>
        <%= f.input :edadinicialhembras %>
        <%= f.input :edadfinalhembras, input_html: { onblur: "checkValues(this)" } %>
        <%= f.input :tiempoedadhembra, :as => :select, :collection => Fichas::Taxon::MEDIDA_LONGEVIDAD, input_html: {class: 'selectpicker form-control'}, 'title': t('general.seleccionar_opcion') %>
        <h4 class="titulo_sub_subseccion"><%= t('secciones.s_clasificacion.peso') %></h4>
        <%= f.input :pesoinicialhembras %>
        <%= f.input :pesofinalhembras, input_html: { onblur: "checkValues(this)" } %>
      </fieldset>
    </div>
  </div>

  <br><br>
  <%= f.input :especiesSmilares %>
  <%= f.input :origen, :as => :select, :collection => Fichas::Taxon::ORIGEN_MEXICO, prompt: :seleccionar,  input_html: {class: 'form-control selectpicker'}, 'title': t('general.seleccionar_opcion') %>
  <%= f.input :descripcionOrigen %>

  <div class="apartadoFicha ficha-Invasora">
    <%= f.input :presencia, :as => :select, :collection => Fichas::Taxon::PRESENCIA, prompt: :seleccionar,  input_html: {class: 'form-control selectpicker'}, 'title': t('general.seleccionar_opcion') %>
    <%= f.input :adicinalPresencia %>
    <%= f.input :invasora, as: :radio_buttons, :collection => [ ['Sí', 'Sí'], ['No', 'no'] ], item_wrapper_class: 'radio-inline'  %>
    <%= f.input :adicionalInvasora %>
  </div>

</div>

